# Data wrangling and curation of Fermentos dataset

In [ ]:
import pandas as pd # type: ignore

In [4]:
# loading Fermentos metadata file
dataset = pd.read_csv('data/2025-03-24-all-ff-mag-metadata-cleaned-curated.tsv', sep='\t')
display(dataset.head())

,mag_id,sample_description,fermented_food,specific_substrate,substrate_category,general_category,completeness,contamination,contigs,total_length,...,n50,domain,phylum,class,order,family,genus,species,study_catalog,source
0,AlvarezOrdonezA_xxxx__C02-18__bin.2,meat,sausage,meat,meat,fermented_meat,51.600000,3.100000,2506,20998336,...,9910,Eukaryota,Ascomycota,Eurotiomycetes,Eurotiales,Aspergillaceae,Aspergillus,Aspergillus_glaucus,Carlino2024,AlvarezOrdonezA_xxxx__C02-18
1,AlvarezOrdonezA_xxxx__C02-19__bin.5,meat,sausage,meat,meat,fermented_meat,63.793103,0.862069,542,1596974,...,3152,Bacteria,Firmicutes,Bacilli,Bacillales,Staphylococcaceae,Staphylococcus,Staphylococcus_equorum,Carlino2024,AlvarezOrdonezA_xxxx__C02-19
2,AlvarezOrdonezA_xxxx__C02-19__bin.3,meat,sausage,meat,meat,fermented_meat,74.137931,0.000000,279,5340756,...,30953,Bacteria,Proteobacteria,Gammaproteobacteria,Pseudomonadales,Pseudomonadaceae,Pseudomonas,Pseudomonas_lactis,Carlino2024,AlvarezOrdonezA_xxxx__C02-19
3,AlvarezOrdonezA_xxxx__C02-19__bin.1,meat,sausage,meat,meat,fermented_meat,64.912281,0.000000,712,3816144,...,6480,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Yersiniaceae,Ewingella,Ewingella_americana,Carlino2024,AlvarezOrdonezA_xxxx__C02-19
4,AlvarezOrdonezA_xxxx__C02-19__bin.10,meat,sausage,meat,meat,fermented_meat,63.900000,3.300000,1188,9316757,...,10532,Eukaryota,Ascomycota,Saccharomycetes,Saccharomycetales,Debaryomycetaceae,Debaryomyces,Debaryomyces_tyrocola,Carlino2024,AlvarezOrdonezA_xxxx__C02-19

In [5]:
# loading the Carlino metadata. 
carlino_metadata = pd.read_csv('data/cFMD_metadata.tsv', sep='\t')
carlino_supp = pd.read_excel('data/Carlino_supp.xlsx') #requires openpyxl to be installed

display(carlino_metadata.head())
display(carlino_supp.head())

,dataset_name,sample_id,macrocategory,category,type,subtype,commercial_name,fermented/non-fermented,country,sample_accession,...,median_read_len,mean_read_len,max_read_len,n_contigs,n_MAGs_MQ_prok,n_MAGs_HQ_prok,n_MAGs_MQ_euk,n_MAGs_HQ_euk,filtered,curator
0,AlvarezOrdonezA_xxxx,C01-16,food,meat,cured_meat_before_ripening,cured_meat_before_ripening,NaN,NF,ESP,SAMN36689796,...,151.0,146.200505,151.0,62700,0,0,0,0,no,Niccolò_Carlino
1,AlvarezOrdonezA_xxxx,C01-17,food,meat,cured_meat_before_ripening,cured_meat_before_ripening,NaN,NF,ESP,SAMN36689797,...,151.0,147.266426,151.0,98756,0,0,0,0,no,Niccolò_Carlino
2,AlvarezOrdonezA_xxxx,C01-18,food,fermented_meat,meat,cured_meat_after_ripening,NaN,F,ESP,SAMN36689824,...,151.0,147.760911,151.0,103911,0,0,0,0,no,Niccolò_Carlino
3,AlvarezOrdonezA_xxxx,C01-19,food,fermented_meat,meat,cured_meat_after_ripening,NaN,F,ESP,SAMN36689825,...,151.0,149.200530,151.0,134121,0,0,0,0,no,Niccolò_Carlino
4,AlvarezOrdonezA_xxxx,C02-16,food,meat,cured_meat_before_ripening,cured_meat_before_ripening,NaN,NF,ESP,SAMN36689798,...,151.0,148.854534,151.0,37597,1,1,0,0,no,Niccolò_Carlino

,Dataset,# Samples,Accession number,Reference
0,AlvarezOrdonezA_xxxx,173,"PRJNA997800, PRJNA997801",*
1,ArikanM_2020,12,PRJEB22200,"Arıkan, M., Mitchell, A.L., Finn, R.D., and Gü..."
2,BertuzziAS_2018,42,PRJEB15423,"Bertuzzi, A.S., Walsh, A.M., Sheehan, J.J., Co..."
3,ChaconVargasK_2020,5,PRJNA603591,"Chacón-Vargas, K., Torres, J., Giles-Gómez, M...."
4,CM_INJERA,2,PRJNA504891,"Manara, S., Selma-Royo, M., Huang, K.D., Asnic..."

In [6]:
# organising carlino_supp
    # replacing * with the Carlino paper
    # spliting rows with multiple bioproject accession numbers

# Replacing '*' in the Reference column with the full citation of the Carlino paper
ref = 'Carlino, N., Blanco-Míguez, A., Punčochář, M., Mengoni, C., Pinto, F., Tatti, A., Manghi, P., Armanini, F., Avagliano, M., Barcenilla, C., Breselge, S., Cabrera-Rubio, R., Calvete-Torre, I., Coakley, M., Cobo-Díaz, J. F., De Filippis, F., Dey, H., Leech, J., Klaassens, E. S., Knobloch, S., O’Neil, D., Quijada, N. M., Sabater, C., Skírnisdóttir, S., Valentino, V., Walsh, L., MASTER EU Consortium, Asnicar, F., Fackelmann, G., Heidrich, V., Rota Stabelli, O., Pasolli, E., Arendt, E., Rubino, F., Cotter, P. D., Ruiz, L., Ercolini, D., Morrison, S., Marchart, J., Sessitsch, A., and Zannini, E. (2024). A pan-European study of the human gut microbiome reveals links with diet, health, and lifestyle. Cell, 187(13), 5795–5816.e15. https://doi.org/10.1016/j.cell.2024.05.028'
carlino_supp.loc[carlino_supp['Reference'] == '*', 'Reference'] = ref

# Splitting rows with multiple bioproject accession numbers
# check how many rows have multiple Bioproject accession numbers
# Find rows with commas in 'Accession number' and count values after splitting
rows_with_commas = carlino_supp[carlino_supp['Accession number'].str.contains(',', na=False)]
total_values = sum(len(accession.split(',')) for accession in rows_with_commas['Accession number'])
print(f"Total values after splitting: {total_values}")

print("\nRows with multiple accession numbers:")
display(rows_with_commas)
print(f"\nNumber of rows with multiple accession numbers: {rows_with_commas.shape[0]}")
print('total number of rows in dataset before splitting:', carlino_supp.shape[0])

carlino_supp['Accession number'] = carlino_supp['Accession number'].str.split(',')
carlino_supp = carlino_supp.explode('Accession number')
# strip white spaces in the 'Accession number' column
carlino_supp['Accession number'] = carlino_supp['Accession number'].str.strip()

end_rows = carlino_supp.shape[0]
print('number of rows at the end:', end_rows)

Total values after splitting: 16

Rows with multiple accession numbers:

,Dataset,# Samples,Accession number,Reference
0,AlvarezOrdonezA_xxxx,173,"PRJNA997800, PRJNA997801","Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."
5,CrovadoreJ_2017,5,"PRJNA358537, PRJNA358558, PRJNA362533, PRJNA36...","Crovadore, J., Gérard, F., Chablais, R., Cocha..."
26,MASTER_WP4_CSIC_2,164,"PRJNA997801, PRJNA1094419","Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."
31,MASTER_WP4_TEAGASC_1,156,"PRGEB63604, PRJNA1094419","Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."
33,MASTER_WP4_UNINA_2,150,"PRJNA897099, PRJNA997801, PRJNA1094419","Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."
36,MortensenS_xxxx,375,"PRJNA977472, PRJNA1023503","Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."

Number of rows with multiple accession numbers: 6
total number of rows in dataset before splitting: 59
number of rows at the end: 69

In [7]:
# Add Reference column from carlino_supp to carlino_metadata
# Create a dictionary from carlino_supp, keeping the first occurrence of each project_accession
reference_dict = dict(zip(carlino_supp['Accession number'], carlino_supp['Reference']))
carlino_metadata['Reference'] = carlino_metadata['project_accession'].map(reference_dict)

# Verify the merge by checking if References were added
print("Number of rows with References:", carlino_metadata['Reference'].notna().sum())
print("Total rows in carlino_metadata:", len(carlino_metadata))

Number of rows with References: 2477
Total rows in carlino_metadata: 3368

In [8]:
# checking the missing references
missing_refs = carlino_metadata[
    (carlino_metadata.Reference.isna()) & 
    (carlino_metadata['fermented/non-fermented'] == 'F')
][['dataset_name', 'project_accession','Reference']].drop_duplicates()
display(missing_refs)

              dataset_name project_accession Reference
408         KastmanEK_2016               NaN       NaN
799      MASTER_WP4_CSIC_2               NaN       NaN
2035      PorcellatoD_2016               NaN       NaN
2469          WolfeBE_2014               NaN       NaN
2493             XieM_2019               NaN       NaN
2533         AlmeidaO_2020       PRJNA527768       NaN
2547        CM_UNINA_FFOOD      PRJNA1206071       NaN
2808          DecadtH_2024        PRJEB64331       NaN
2827       FalardeauJ_2023       PRJNA863305       NaN
2883         FontanaF_2023       PRJNA865096       NaN
3011       FranciosaI_2021       PRJNA636619       NaN
3026  GonzalezOrozcoB_2023       PRJNA843464       NaN
3028       KharnaiorP_2023       PRJNA914873       NaN
3032            LimaC_2020       PRJNA552479       NaN
3046    LopezSanchezR_2023       PRJNA648868       NaN
3050        MagliuloR_2024      PRJNA1084214       NaN
3099   MotaGutierrezJ_2021       PRJNA627182       NaN
3119            OlgaP_2019       PRJNA636820       NaN
3121            OlgaP_2019       PRJNA636837       NaN
3123            OlgaP_2019       PRJNA636891       NaN
3125            OlgaP_2019       PRJNA637016       NaN
3127            OlgaP_2019       PRJNA637018       NaN
3128         QuijadaN_2022        PRJEB48589       NaN
3130            SaakC_2023       PRJNA778418       NaN
3148        SalgadoTS_2021       PRJNA704713       NaN
3287   ShangpliangH_2023_a       PRJNA914731       NaN
3289   ShangpliangH_2023_b       PRJNA914730       NaN
3291           TomarS_2023       PRJNA763767       NaN
3292            YangC_2021       PRJNA683931       NaN
3318           YasirM_2022       PRJNA816670       NaN
3336             YouL_2022       PRJNA687995       NaN
3359              YuY_2022       PRJNA780248       NaN

In [9]:
# saving the missing references table to a file
# will locate references manually
missing_refs.to_csv('data/missing_references.tsv', sep='\t', index=False)

In [47]:
carlino_supp[carlino_supp.project_accession == 'PRJNA1023503']

Empty DataFrame
Columns: [dataset_name, # Samples, project_accession, Reference]
Index: []

In [51]:
carlino_supp[carlino_supp.dataset_name == 'MortensenS_xxxx']

,dataset_name,# Samples,project_accession,Reference
36,MortensenS_xxxx,375,PRJNA977472,"Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."
36,MortensenS_xxxx,375,PRJNA1023503,"Carlino, N., Blanco-Míguez, A., Punčochář, M.,..."

In [53]:
carlino_supp[carlino_supp.project_accession == 'PRJNA1023503']

Empty DataFrame
Columns: [dataset_name, # Samples, project_accession, Reference]
Index: []

In [27]:
carlino_metadata.columns

Index(['dataset_name', 'sample_id', 'macrocategory', 'category', 'type',
       'subtype', 'commercial_name', 'fermented/non-fermented', 'country',
       'sample_accession', 'run_accession', 'experiment_accession',
       'study_accession', 'project_accession', 'database_origin',
       'library_layout', 'sequencing_platform', 'DNA_extraction_kit',
       'collection_date', 'n_of_bases', 'n_of_reads', 'min_read_len',
       'median_read_len', 'mean_read_len', 'max_read_len', 'n_contigs',
       'n_MAGs_MQ_prok', 'n_MAGs_HQ_prok', 'n_MAGs_MQ_euk', 'n_MAGs_HQ_euk',
       'filtered', 'curator'],
      dtype='object')

In [4]:
# Split source column into dataset_name and sample_id
dataset[['dataset_name', 'sample_id']] = dataset['mag_id'].str.rsplit('__', n=2, expand=True).iloc[:, :2]
dataset.head()

,mag_id,sample_description,fermented_food,specific_substrate,substrate_category,general_category,completeness,contamination,contigs,total_length,...,phylum,class,order,family,genus,species,study_catalog,source,dataset_name,sample_id
0,AlvarezOrdonezA_xxxx__C02-18__bin.2,meat,sausage,meat,meat,fermented_meat,51.600000,3.100000,2506,20998336,...,Ascomycota,Eurotiomycetes,Eurotiales,Aspergillaceae,Aspergillus,Aspergillus_glaucus,Carlino2024,AlvarezOrdonezA_xxxx__C02-18,AlvarezOrdonezA_xxxx,C02-18
1,AlvarezOrdonezA_xxxx__C02-19__bin.5,meat,sausage,meat,meat,fermented_meat,63.793103,0.862069,542,1596974,...,Firmicutes,Bacilli,Bacillales,Staphylococcaceae,Staphylococcus,Staphylococcus_equorum,Carlino2024,AlvarezOrdonezA_xxxx__C02-19,AlvarezOrdonezA_xxxx,C02-19
2,AlvarezOrdonezA_xxxx__C02-19__bin.3,meat,sausage,meat,meat,fermented_meat,74.137931,0.000000,279,5340756,...,Proteobacteria,Gammaproteobacteria,Pseudomonadales,Pseudomonadaceae,Pseudomonas,Pseudomonas_lactis,Carlino2024,AlvarezOrdonezA_xxxx__C02-19,AlvarezOrdonezA_xxxx,C02-19
3,AlvarezOrdonezA_xxxx__C02-19__bin.1,meat,sausage,meat,meat,fermented_meat,64.912281,0.000000,712,3816144,...,Proteobacteria,Gammaproteobacteria,Enterobacterales,Yersiniaceae,Ewingella,Ewingella_americana,Carlino2024,AlvarezOrdonezA_xxxx__C02-19,AlvarezOrdonezA_xxxx,C02-19
4,AlvarezOrdonezA_xxxx__C02-19__bin.10,meat,sausage,meat,meat,fermented_meat,63.900000,3.300000,1188,9316757,...,Ascomycota,Saccharomycetes,Saccharomycetales,Debaryomycetaceae,Debaryomyces,Debaryomyces_tyrocola,Carlino2024,AlvarezOrdonezA_xxxx__C02-19,AlvarezOrdonezA_xxxx,C02-19

In [5]:
dataset.shape

(13858, 23)

In [6]:
# Check for duplicates in carlino_metadata using dataset_name and sample_id as keys
duplicates = carlino_metadata[carlino_metadata.duplicated(['dataset_name', 'sample_id'], keep=False)]

# Display counts of duplicates if any exist
if len(duplicates) > 0:
    print(f"Found {len(duplicates)} duplicate entries")
    # Group duplicates and show their counts
    duplicate_counts = duplicates.groupby(['dataset_name', 'sample_id']).size().reset_index(name='count')
    display(duplicate_counts)
    
    # Display the actual duplicate rows
    print("\nDuplicate rows:")
    display(duplicates)
else:
    print("No duplicates found in carlino_metadata")

Found 2 duplicate entries

  dataset_name    sample_id  count
0    YouL_2022  SRR13308535      2

Duplicate rows:

,dataset_name,sample_id,macrocategory,category,type,subtype,commercial_name,fermented/non-fermented,country,sample_accession,...,median_read_len,mean_read_len,max_read_len,n_contigs,n_MAGs_MQ_prok,n_MAGs_HQ_prok,n_MAGs_MQ_euk,n_MAGs_HQ_euk,filtered,curator
3351,YouL_2022,SRR13308535,food,dairy,koumiss,NaN,NaN,F,CHN,SAMN17165130,...,150.0,149.562479,150.0,10491,1,0,1,1,no,Hrituraj_Dey
3352,YouL_2022,SRR13308535,food,dairy,koumiss,NaN,NaN,F,CHN,SAMN17165130,...,150.0,149.562479,150.0,10491,1,0,1,1,no,Hrituraj_Dey

In [7]:
# Drop duplicates keeping the first occurrence
carlino_metadata = carlino_metadata.drop_duplicates(['sample_id'], keep='first')

# Verify the duplicate is removed
print("Number of duplicates after removal:",
    carlino_metadata.duplicated(['dataset_name', 'sample_id']).sum())

Number of duplicates after removal: 0

In [8]:
# check the number of unique values in each column of carlino_metadata
display(carlino_metadata.shape, carlino_metadata.nunique())

(3366, 32)

dataset_name                 85
sample_id                  3366
macrocategory                 1
category                     15
type                        118
subtype                     337
commercial_name              13
fermented/non-fermented       2
country                      52
sample_accession           3303
run_accession              3196
experiment_accession       1367
study_accession              85
project_accession            85
database_origin               4
library_layout                3
sequencing_platform          16
DNA_extraction_kit           35
collection_date             201
n_of_bases                 3366
n_of_reads                 3364
min_read_len                 33
median_read_len              62
mean_read_len              3027
max_read_len                 26
n_contigs                  3065
n_MAGs_MQ_prok               17
n_MAGs_HQ_prok               18
n_MAGs_MQ_euk                 7
n_MAGs_HQ_euk                 6
filtered                      2
curator                       4
dtype: int64

In [9]:
# Merge dataset with selected columns from carlino_metadata
merged_df = pd.merge(dataset, 
                    carlino_metadata.iloc[:, :17], 
                    how='left',
                    on=['dataset_name', 'sample_id'])

# Verify the merge
print("\nShape after merge:")
display(merged_df.shape, dataset.shape)

Shape after merge:

(13858, 38)

(13858, 23)

In [10]:
#print the unique values of columns study_catalog for data that was not found in carlino
# Get value counts of study_catalog for entries with missing sequencing_platform
study_counts = merged_df[merged_df['sequencing_platform'].isna()]['study_catalog'].value_counts().to_frame()
display(study_counts)
print(f"\nTotal number of unique study_catalog values for samples without sequencing platform: {len(study_counts)}")

# Print total number of rows with missing sequencing_platform
print(f"\nTotal samples without sequencing platform: {merged_df['sequencing_platform'].isna().sum()}")

                         count
study_catalog
Du2023                     553
Caffrey2024                350
Saak2023_CheeseMAGs         52
Rappaport2024_sourdough     29
Carlino2024                 23

Total number of unique study_catalog values for samples without sequencing platform: 5

Total samples without sequencing platform: 1007